//Header + necessary media queries.
header {
    z-index: 100;
    width: 100%;
    height: 72px;
    background: $--pure-white-color;

    @media screen and (min-width: 768px) {
            z-index: 100;
            width: 100%;
            height: 72px;
            background: $--pure-white-color;
    }

    .header-innerWidth-container {
        z-index: 100;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.4rem;

        @media screen and (min-width: 768px) {
                z-index: 100;
                width: 100%;
                max-width: 1440px;
                margin: auto;
                display: flex;
                justify-content: space-around;
                padding: clamp(0.5rem, 1vw, 2.4rem);
        }

        .nav-burger-selectable-container {
            height: 72px;
            width: 40px;
            cursor: pointer;
            display: flex;

            @media screen and (min-width: 768px){
                display: none;
            }
    
            .nav-burger-container {
                width: 40px;
                height: 6px;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                margin: auto;
        
                span {
                    width: 50%;
                    height: 1px;
                    background: $--pure-black-color;
                    transform: none;
                    transform-origin: 0px 2px;
                    transition: all 350ms cubic-bezier(0.77,0.2,0.05,1.0);
                }
        
                .burger-clicked:nth-child(1){
                    transform: rotate(45deg) translate(-2px, -5px);
                }
        
                .burger-clicked:nth-child(2){
                    transform: rotate(-45deg) translate(0px, 5px);
                }
            }//close: nav-burger-container
        }//close: nav-burger-selectable-container

        .nav-menu_container {
            background: $--pure-white-color;
            position: absolute;
            top: 72px;
            left: 0;
            // background: salmon;
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding-top: 1.6rem;
            opacity: 0;
            transform: scaleY(0.5);
            transform-origin: 0% 0%;
            transition: all 250ms ease;

            @media screen and (min-width: 768px){
                top: 0;
                padding: 0;
                background: transparent;
                flex: 0.7 0 400px;
                position: relative;
                flex-flow: row nowrap;
                justify-content: space-around;
                opacity: 1;
                transform: none;
                transition: none;
            }

            .links {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;

                @media screen and (min-width: 768px){
                    display: flex;
                    flex-flow: row nowrap;
                }

                a {
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 2.5px;
                    font-weight: 700;

                    @media screen and (min-width: 768px){
                        animation: textAppear 500ms ease-in-out forwards;
                        opacity: 0;
                        transition: opacity 250ms all;

                        &:not(:nth-last-child(1)){
                            margin-right: clamp(1rem, 1vw, 3rem);
                        }

                        &:nth-child(2) {
                            animation-delay: 300ms;
                        }

                        &:nth-child(3){
                            animation-delay: 600ms;
                        }

                        &:hover {
                            text-decoration: none;
                            opacity: 0.3 !important;
                        }
                    }
                }
        
                a:hover {
                    text-decoration: underline;
                }
            }
    
            * {
                margin: 1rem;
            }
    

    
            span {
                width: 80%;
                height: 1px;
                background: $--light-grey-color;

                @media screen and (min-width: 768px){
                    display: none;
                }
            }
    
            button {
                width: 80%;
                text-transform: uppercase;
                line-height: 20px;
                font-weight: 700;
                letter-spacing: 2.5px;
                height: 48px;
                text-align: center;

                @media screen and (min-width: 768px){
                    width: 158px;
                    opacity: 0;
                    animation: textAppear 500ms ease-in-out forwards;
                    animation-delay: 900ms;
                }
            }
        }
    
        .nav-menu_container.nav-menu_container-clicked {
            opacity: 1;
            transform: scaleY(1);
        }
    }
}


//END OF HEADER ----------------------